.topbar {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 999;
}

.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 30px;
  color: purple;
  font-weight: bold;
  cursor: pointer;
}

.topRight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topbarIconContainer {
  position: relative;
  top: 5px;
  margin-right: 10px;
  cursor: pointer;
  color: #555;
}

.avatarImgContainer {
  margin-top: 8px;
}

.avatarImg {
  border: solid 3px purple;
}
